{% extends "base.html" %} {%block userinfo%}

<div class="profile-sidebar" id="sticky-sidebar">
  <div class="content-section profile">
    <img
      class="rounded-circle account-img"
      src="{{user.profile.profile_pic.url}}"
    />
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
</div>

{%endblock userinfo%} {% block content %}
<hr />
{% for post in posts %}
<article class="media content-section ">
  <img
    class="rounded-circle article-img"
    src="{{ post.author.profile.profile_pic.url }}"
  />
  <div class="media-body">
    <div class="article-metadata">
      <a class="article-author" href="#">{{ post.author }}</a>
    </div>
    <h3>
      <a class="article-title" href="{{ post.get_absolute_url }}"
        >{{ post.title }}</a
      >
    </h3>
    <p class="article-content">
      {{ post.content}}
    </p>
    <hr />
    <small class="text-muted">{{ post.date_of_creation|timesince }} Ago </small>
  </div>
  <!-- {% with comments.count as total_comments %} -->
  <p class="text-muted">
    {{ post.comments.count}} comment{{post.comments.count|pluralize }}
  </p>
  <!-- {% endwith %} -->
</article>
{%endfor%} {% endblock content %}
