{% extends "base.html" %} {% block content %}
<hr />
{% for post in posts %}
<article class="media content-section ">
  <div class="media-body">
    <div class="article-metadata">
      <a class="article-author" href="#">{{ post.author }}</a>
    </div>
    <h2>
      <a class="article-title" href="{{ post.get_absolute_url }}"
        >{{ post.title }}</a
      >
    </h2>
    <p class="article-content">
      {{ post.content}}
    </p>
    <small class="text-muted">{{ post.date_of_creation|timesince }} Ago </small>
  </div>
</article>
{%endfor%} {% endblock content %}
